/* 
 BLOCK:browser respects width/height, top/bottom margin
 INLINE:browser does not respect width/height, 
 top/bottom margin
 Navbar
list-type-type:property
descendant selectors
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style-type: none;
}
ul li a {
  color: #f15025;
  text-decoration: none;
  letter-spacing: 2px;
  background: #222;
  display: block;
  padding: 5px;
}
