/* 
text-align, text-indent
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500i,700|Trade+Winds&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.main-heading {
  font-family: "Trade Winds", cursive;
}
.sub-heading {
  /* font-style: italic; */
}
.one {
  font-weight: bold;
}
.two {
  /* font-weight: lighter;
  font-style: italic;
  font-style: oblique; */
  font-style: normal;
}
