/* 
transform:translate(),scale()rotate(),skew()
*/

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}
.one {
  background: red;
  transform: scaleX(0.5);
}
.two {
  background: blue;
  transform: scaleY(1.5);
}
.three {
  background: green;
  transform: scale(1.2, 1.5);
  transform: scale(2);
}
