/* 
 display:none - remove from the flow, hide element collapse the space
 opacity:0,visibility:hidden - hides element preserves the space
*/

div {
  background: #f15025;
  margin: 10px;
  color: white;
  font-size: 1.3rem;
}
.none {
  display: none;
}
.opacity-1 {
  opacity: 1;
}
.opacity-5 {
  opacity: 0.25;
}
.opacity-0 {
  opacity: 0;
}
.visibility {
  visibility: hidden;
}
