* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f1f5f9;
  line-height: 1.5;
}

.section {
  padding: 5rem 0;
  background: #fff;
}
.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  /* background: red; */
}

.section-title {
  text-align: center;
  text-transform: capitalize;
}
.title-underline {
  height: 0.25rem;
  width: 5rem;
  background: cornflowerblue;
  margin: 0 auto;
  margin-bottom: 2rem;
}
