/* Last Rule and Specificity * Universal Selector */

.special {
  color: green;
}

p {
  color: red;
}

p {
  color: blue;
}

#heading {
  color: red;
}
.heading {
  color: green;
}

* {
  color: brown;
}
