/* 
BORDER-RADIUS, NEGATIVE MARGIN  
*/

h1,
p {
  color: white;
}

h1 {
  background: red;
  padding: 10px;
  border: 15px solid black;
  border-radius: 30px;
}
p {
  background: blue;
  padding: 15px;
  border: 7px dotted green;
  border-radius: 50%;
  margin-top: -50px;
}
