/* RGB RED GREEN BLUE 0-255 */

#first {
  color: rgb(255, 0, 0);
  background: rgb(0, 0, 0);
}
#second {
  color: rgb(0, 255, 0);
  background: rgb(255, 255, 255);
}
#three {
  color: rgb(0, 0, 255);
  background: rgb(200, 90, 230);
}
body {
  background: rgb(150, 34, 210);
}
